<h3><%= feed.escape('title') %></h3>
<!-- <button id="refresh">Refresh</button> -->


    <% feed.entries().each(function(entry) { %>
        <% if (entry.img) { %>
            <div class="image-wrapper">
              <a href="<%= entry.img %>"><img src="<%= entry.img %>"></a>
            </div>
        <% } %>
    <% }) %>
  
